html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    font-family: system-ui;
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("https://images.unsplash.com/photo-1504966981333-1ac8809be1ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
    background-size: cover;
    background-position: center;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}